a {
    text-decoration: none;
    color: var(--light-gray);
    font-size: 20px;
    border-radius: 0 !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
    background-color: var(--blue-gray);
    color: var(--cyan);
}

.mdc-list-item:focus::before {
    opacity: 0 !important;
}

.active-list-item {
    background-color: var(--blue-gray);
    color: var(--cyan);
    font-weight: bold;
}

mat-nav-list {
    min-width: 200px;
    background-color: var(--dark-gray);
    color: var(--medium-gray);
    padding: 0;
}

mat-icon {
    color: var(--light-gray);
}

mat-icon:hover {
    color: var(--cyan);
}

