:host {
    --gradient-vertical: linear-gradient(
      180deg,
      var(--orange) 0%,
      var(--blue-gray) 100%
    );
  
    --gradient-horizontal: linear-gradient(
      90deg,
      var(--orange) 0%,
      var(--blue-gray) 100%
    );
  
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
    background-color: var(--dark-gray);
  }
  
  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }
  
  .divider {
    width: 1px;
    background: var(--gradient-vertical);
    margin-inline: 0.5rem;
  }
  
  .pill-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    gap: 1.25rem;
  }
  
  button[mat-raised-button] {
    background-color: var(--blue-gray);
    color: var(--light-gray);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  button[mat-raised-button]:hover {
    background-color: var(--orange); /* Hover állapotban narancssárga */
    color: var(--light-gray); /* Szöveg színe változatlan */
  }
  
.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;
}

.left-panel,
.right-panel {
  flex: 1; /* Egyenlő szélességű panelek */
}

.avatar {
  background-color: var(--orange); /* vagy egyéni szín */
  color: var(--dark-gray);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}

.left-side mat-card {
  margin-bottom: 1.5rem; /* Kártyák közötti távolság */
  background: var(--blue-gray); /* Kártya háttérszíne */
  color: var(--light-gray); /* Szöveg színe */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Árnyék */
  border-radius: 8px; /* Lekerekített sarkok */
  padding: 1rem;
}

.left-side mat-card-title {
  font-size: 1.25rem; /* Nagyobb cím betűméret */
  // font-weight: bold;
  // color: var(--orange); /* Cím színe */
}

.left-side mat-card-content p {
  font-size: 1rem; /* Szöveg betűmérete */
  margin: 0.5rem 0;
}

.avatar {
  background-color: var(--orange); /* Avatar háttérszíne */
  color: var(--dark-gray); /* Avatar szöveg színe */
  font-size: 1.5rem; /* Nagyobb betűméret az avatarban */
  width: 50px; /* Nagyobb méret */
  height: 50px;
}

.divider {
  background: var(--gradient-vertical); /* Elválasztó vonal színe */
  height: auto;
}

.right-side p {
  color: var(--medium-gray); /* Jobb oldali szöveg színe */
  font-size: 0.95rem;
}

.username {
  color: var(--orange);
}

