<main class="main">
  <div class="content">
    <mat-card class="product-card" *ngFor="let product of pagedProducts">
      <mat-card-header>
        <mat-card-title>{{ product.productName }}</mat-card-title>
        <mat-card-subtitle>Ár: {{ product.price | currency:'HUF':'symbol' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ product.description }}</p>
        <p><strong>Anyag:</strong> {{ product.material }}</p>
        <p><strong>Típus:</strong> {{ product.type }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="navigateToProfile()">Kosárba</button>
        <button mat-button color="accent">Részletek</button>
      </mat-card-actions>
    </mat-card>
    <mat-paginator [length]="products.length" [pageSize]="pageSize" (page)="updatePagedProducts()"></mat-paginator>
  </div>
</main>