<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu [sidenav]="sidenav" [isLoggedIn]="isLoggedIn" (logoutEvent)="logout()"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button 
        mat-button 
        (click)="onToggleSidenav(sidenav)"
        class="menu-toggle-button">
        <mat-icon>menu</mat-icon>
      </button>
      <div><a routerLink="/home">Bútor webshop</a></div>
      <nav>
        <ul>
          <li>
            <a mat-list-item routerLink="/products">
              <span>Termékek</span>
            </a>
          </li>
          <li *ngIf="isLoggedIn">
            <a mat-list-item routerLink="/profile">
              <span>Profil</span>
            </a>
          </li>
          <li *ngIf="!isLoggedIn">
            <a mat-list-item routerLink="/login">
              <span>Bejelentkezés</span>
            </a>
          </li>
          <li *ngIf="!isLoggedIn">
            <a mat-list-item routerLink="/signup">
              <span>Regisztráció</span>
            </a>
          </li>        
          <li *ngIf="isLoggedIn">
            <a mat-list-item (click)="logout()">
              <span>Kijelentkezés</span>
            </a>
          </li>      
        </ul>
      </nav>
    </mat-toolbar>
    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>