<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu [sidenav]="sidenav" [isLoggedIn]="isLoggedIn" [cartItemCount]="cartItemCount" (logoutEvent)="logout()"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button 
        mat-button 
        (click)="toggleDropdownMenu()"
        class="menu-toggle-button">
        <mat-icon>menu</mat-icon>
      </button>
      <div><a routerLink="/home">Bútor webshop</a></div>
      <nav>
        <ul>
          <!-- <li><a routerLink="/home">Home</a></li> -->
          <li>
            <a mat-list-item routerLink="/products">
              <!-- <mat-icon matListItemIcon>login</mat-icon> -->
              <span matListItemTitle>Termékek</span>
            </a>
          </li>
          <li>
            @if (isLoggedIn) {
              <a mat-list-item routerLink="/profile" matBadge="{{ cartItemCount }}" matBadgeSize="small" matBadgeColor="accent">
                <span matListItemTitle>Profil</span>
              </a>
            }
          </li>
          <li>
            @if (!isLoggedIn) {
              <a mat-list-item routerLink="/login">
                <!-- <mat-icon matListItemIcon>login</mat-icon> -->
                <span matListItemTitle>Bejelentkezés</span>
              </a>
            }
          </li>
          <li>
            @if (!isLoggedIn) {
              <a mat-list-item routerLink="/signup">
                <!-- <mat-icon matListItemIcon>assignment</mat-icon> -->
                <span matListItemTitle>Regisztráció</span>
              </a>
            }
          </li>        
          <li>
            @if (isLoggedIn) {
              <a mat-list-item (click)="logout()">
                <!-- <mat-icon matListItemIcon>logout</mat-icon> -->
                <span matListItemTitle>Kijelentkezés</span>
              </a>
            }
          </li>      
        </ul>
      </nav>
    </mat-toolbar>
    
    <div class="dropdown-menu" *ngIf="isDropdownOpen">
      <app-menu [isLoggedIn]="isLoggedIn" (logoutEvent)="logout()"></app-menu>
    </div>
    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>