/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --dark-gray: #212832;
    --blue-gray: #2c4059;
    --orange: #00dddd;
    --medium-gray: #bbbbbb;
    --light-gray: #eeeeee;
}